* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

input {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

span {
  font-size: 3rem;
  font-weight: 700;
  color: #ff630b;
}

nav{
  transition: all ease .5s;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 100vmax;
  color: black;
  transition: ease 0.6s all;
}

a.active {
  background-color: #ff630b;
  color: #fff;
}

a:hover {
  background-color: #ff630b;
  color: #fff;
}

header ul:hover a:not(:hover) {
  background-color: transparent;
  color: black;
}

label {
  width: 5rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  display: none;
}

label div {
  background-color: #ff630b;
  height: 5px;
  width: 100%;
  border-radius: 100vmax;
  position: absolute;
}

label div:nth-child(1) {
  top: 0%;
}

label div:nth-child(2) {
  top: 50%;
}

label div:nth-child(3) {
  top: 100%;
}

@media only screen and (max-width: 48em) {

  header {
    position: relative;
  }

  nav {
    position: absolute;
    width: 100%;
    top: 10rem;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: all ease .5s;
  }

  ul {
    flex-direction: column;
    gap: 5rem;
  }

  label {
    display: block;
  }

  input:checked + header nav {
    height: calc(100vh - 10rem);
  }
}
